<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How Does This Work?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <div class="left-links">
            <a href="/">Home</a>
        </div>
        <div class="right-links">
            <a href="https://www.reddit.com/user/Critical_Thinker_219/" target="_blank">
                <img src="{{ url_for('static', filename='reddit.png') }}" alt="Reddit"> Reddit
            </a>
            <a href="https://github.com/CookieCums" target="_blank">
                <img src="{{ url_for('static', filename='github.png') }}" alt="GitHub"> GitHub
            </a>
        </div>
    </div>
    <div class="container">
        <h1>How Does This Work?</h1>
        <h2>The Gyro Sensitivity Calculator determines how to adjust your phone's gyro sensitivity settings when switching from an old phone to a new one. It considers factors such as the weight and, optionally, the screen size of both phones. Additionally, it can calculate specific sensitivities for different scopes, such as 3x, 4x, 6x, and 8x.</h2>

        <h3>Here's how it works:</h3>

        <h4>Weight Ratio:</h4>
        <p>The calculator compares the weight of your new phone to that of your old phone to establish a weight ratio. This ratio indicates how much heavier or lighter your new phone is compared to your old one.</p>

        <h4>Screen Size Ratio (Optional):</h4>
        <p>If you provide the screen sizes for both phones, the calculator computes the screen size ratio. This ratio accounts for any differences in screen sizes between the two phones.</p>

        <h4>Combined Adjustment Factors:</h4>
        <p>To balance the influence of weight and screen size, the calculator uses a weighting factor. By default, the weight factor is set to 0.7, indicating that weight has a 70% influence, while screen size has a 30% influence on the final sensitivity adjustment.</p>

        <h4>New Gyro Sensitivity:</h4>
        <p>The new gyro sensitivity for your phone is calculated based on the combined adjustment factors. This provides a recommended new sensitivity setting that accounts for changes in phone weight and, if provided, screen size.</p>

        <h4>Scope Sensitivities:</h4>
        <p>Similarly, the calculator can adjust sensitivity settings for different scopes (e.g., 3x, 4x, 6x, and 8x) using the same combined adjustment factors. This allows for the calculation of new recommended sensitivities for these scopes on your new phone.</p>
    </div>
    <div class="watermark">Created By Critical_Thinker_219 with ❤️</div>
</body>
</html>
